.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
    text-align: center;
}

.main_container-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 375px;
    border: 2px solid #CBB8FF;
    border-radius: 25px;
    background: transparent;
}

.main_container-content {
    align-self: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 10% repeat(4, 13%) 10%;
    grid-template-areas:
    ". . . . . . . . ." 
    ". a a a a a a a ."
    ". b b b x x . . ."
    ". . . y y c c c ."
    ". d d d d d d d ."
    ". . . . . . . . .";

    background: linear-gradient(to right, #5AC7EA, #5393FE);
    height: 75%;
    width: stretch;
}

.fields {
    border-radius: 12px;
    border: 1px solid white;
    background: transparent;
}

.fields::placeholder {
    text-align: center;
    color: white;
}

.main_content-amount {
    grid-area: a;
}

.main_content-sell {
    grid-area: b;
    width: 105%;
}

.main_content-sell::placeholder {
    text-align: left;
    padding-left: 25px;
}

.main_content-buy {
    grid-area: c;
    width: 105%;
    margin-left: -10%;
}

.main_content-buy::placeholder {
    text-align: right;
    padding-right: 25px;
}

.main_content-result {
    grid-area: d;
}

.token {
    font-size: 12px;
}

.token_content-sell {
    grid-area: x;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    margin-left: -60%;
    background: white;
}

.token_content-buy {
    grid-area: y;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    margin-left: 5%;
    background: white;
}